name: Run unit tests

on:
  push:

env:
  ROCK_NAME: config

jobs:
  run-luacheck:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - uses: tarantool/setup-tarantool@v2
      with:
        tarantool-version: '2.10.7'
    - name: install luacheck 0.26.0
      run: tarantoolctl rocks install luacheck 0.26.0
    - name: run luacheck
      run: .rocks/bin/luacheck .
  run-unit-tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        version: ["1.10.15", "2.8.4", "2.10.6", "2.10.7-gc64-amd64", "2.11.0", "2.11.1"]
    steps:
    - uses: actions/checkout@master
    - uses: docker/setup-buildx-action@v2
    - name: run test suite for ${{matrix.version}}
      run: make test-${{matrix.version}}
  run-coverage-report:
    runs-on: ubuntu-latest
    steps:
    - uses: tarantool/setup-tarantool@v2
      with:
        tarantool-version: '2.10.7'
    - name: install luacov-console 1.1.0
      run: tarantoolctl rocks install luacov-console 1.1.0
    - name: install luacov-coveralls 0.2.3
      run: tarantoolctl rocks install --server=http://luarocks.org luacov-coveralls 0.2.3
    - name: prepare coverage report
      run: .rocks/bin/luacov-console "$(pwd)" && .rocks/bin/luacov-console -s
    # - name: publish coveralls report
    #   env:
    #     COVERALLS_REPO_TOKEN: ${{ secrets.COVERALLS_REPO_TOKEN }}
    #   run: .rocks/bin/luacov-coveralls -v
